<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="myForm__wrapper">
                <h1 class="text-center mt-5 mb-5"><%= pageTitle %> Page</h1>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <form action="/user/login" method="POST">
                            <div class="mb-3">
                              <label for="title" class="form-label">Email </label>
                              <input type="email" class="form-control" id="email" name ="email" placeholder="Enter your email address">
                            </div>

                            <div class="mb-3">
                              <label for="password" class="form-label">Password </label>
                              <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0"></div>
                </div>

            </div>

        </div>
    </main>
</body>
</html>