<nav class="navbar navbar-expand-lg bg-primary ">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/shop">Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav myNav__Items">
                <a class="nav-link text-light" aria-current="page" href="/shop/products">Products</a>
                <a class="nav-link text-light" href="/shop/cart">Cart</a>
                <a class="nav-link text-light" href="/shop/orders">Orders</a>
                <a class="nav-link text-light" href="/admin/addproduct">Add Products</a>
                <a class="nav-link text-light" href="/admin/products">Admin Products</a>
                <a class="nav-link text-light" href="/user/login">Login</a>
                <a class="nav-link text-light" href="/user/signup">Sign Up</a>
                <a class="nav-link text-light" href="/user/logout">Logout</a>
            </div>
            <!-- 
            <div class="myNav__ItemsWrapper navbar-nav">
                <div class="myNav__leftItems">
                    <a class="nav-link text-light" aria-current="page" href="#">Home</a>
                    <a class="nav-link text-light" href="#">Features</a>
                    <a class="nav-link text-light" href="#">Pricing</a>
                    <a class="nav-link text-light" href="#">Disabled</a>
                </div>
                <div class="myNav__rightItems">
                    <a class="nav-link text-light" href="#">Login</a>
                    <a class="nav-link text-light" href="#">Sign Up</a>
                    <a class="nav-link text-light" href="#">Logout</a>
                </div>
            </div> 
            -->
            
        </div>
    </div>    
</nav>