/* Card styles - Admin Products, Shop Products*/

.myCard__row .card{
    margin: 1rem 0.5rem;

}

.myCardButton {
    display: flex;
    justify-content: center;
}

.myCardButton > * {
    margin: 0 0.4rem;
}




