/* Card styles - Admin Products, Shop Products*/

.myCard__row .card{
    margin: 1rem 0.5rem;

}

.myCardButton {
    display: flex;
    justify-content: center;
}

.myCardButton > * {
    margin: 0 0.4rem;
}

.card-body p.card-text {
    height: 4.8rem;
    overflow: scroll;
}

.card img.card-img-top {
    height: 15rem;
    padding: 0.2rem;
    border: 1px solid rgb(194, 193, 193);
    border-radius: 5px;
}






